<%- include("header") %>
<h1>Detalle de los productos</h1>
            <div>
                <p>Id: <%= producto.id %></p>
                <p>Nombre del producto: <%= producto.nom %></p>
                <p>Precio del producto: <%= producto.preu %></p>
            </div>
<%- include("footer") %>