<%- include("header") %>
<h1>Detalle del usuario</h1>
            <div>
                <p>Id: <%= usuari.id %></p>
                <p>Nombre del usuario: <%= usuari.nom %></p>
                <p>Correo del usuario: <%= usuari.email %></p>
            </div>
<%- include("footer") %>